/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;

}

div.card {
  margin-top: 10px;
  
}

.table {
  margin-top: 10px;
  color: aliceblue;
}

html, body {
  background-color: black;
  background-image: url(./assets/images/background.jpg);
  background-position: center;
  
  
}

.navbar-expand .navbar-light .bg-light {
  color: rgb(151, 135, 222);
}


.card {
  background-color: rgba(0, 0, 0, 0.57);
  color: rgb(255, 255, 255);
}

.card-header {
  background-color: rgba(21, 21, 21, 0.68) ;
}





